<header class="nav">
    <a href="/admin/">管理首页</a>
    <a href="/" target="_blank">博客首页</a>
    <a href="/admin/logout">退出</a>
    <ul>
        <p>文章</p>
        <li><a href="/admin/articles/posts/1">文章列表</a></li>
        <li><a href="/admin/articles">新建文章</a></li>
    </ul>
    <ul>
        <p>分类</p>
        <li><a href="/admin/categories/posts/1">分类列表</a></li>
        <li><a href="/admin/categories">新建分类</a></li>
    </ul>
    <ul>
        <p>友链</p>
        <li><a href="/admin/links/posts/1">友链列表</a></li>
        <li><a href="/admin/links">新建友链</a></li>
    </ul>
    <ul>
        <p>设置</p>
        <li><a href="/admin/config">博客配置</a></li>
    </ul>
</header>
