<h1>{{title}}</h1>
{{> header}}
<blockquote>
  <div>
    <h4>关于内容 / About The Website</h4>
    <p>版权声明：「自由转载-非商用-非衍生-保持署名」（<a target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证</a>）</p>
    <p>所有文章非特别说明皆为原创。由于文章表述或者内容可能存在诸多错误，所以部分内容会作修改，为保证转载信息与源同步，转载请注明文章出处！谢谢合作 :-) </p>
    <p>文章为个人观点，不代表服务的公司。</p>
  </div>
  <div>
    <h4>关于我 / About Me</h4>
    <strong>SebastianBlde</strong>
    <br> 逗比一个
    <br> ShangHai, China
    <br>
    <address>
      <ul>
        <li>
          Github:
          <a href="https://github.com/blade254353074" target="_blank">blade254353074</a>
        </li>
        <li>
          Social:
          <a href="http://weibo.com/2807840384" target="_blank">新浪微博</a>
        </li>
        <li>
          E-mail:
          <a href="mailto:blade254353074@hotmail.com">blade254353074(at)hotmail.com</a>
        </li>
      </ul>
    </address>
  </div>
</blockquote>
{{> footer}}
