<h1>{{title}}</h1>
{{> header}}
<ul>
    {{#each articles}}
    <li>
        <a href="/articles/{{_id}}" class="title">{{title}}</a>
        <div class="meta">
            <time>最后更新：{{#timeFormatter update_date}}{{/timeFormatter}}</time>
        </div>
    </li>
    {{/each}}
</ul>
{{#paging total page '/articles/posts/'}}{{/paging}}
{{> footer}}
<script src="/javascripts/jquery.js"></script>
