{{> admin_nav}}
<h1>{{title}}</h1>
<form id="form" action="/admin/links" method="POST">
    <div class="form-group">
        <label for="form_name">友链名：</label>
        <input id="form_name" class="form-control data-upload" name="name" type="text">
    </div>
    <div class="form-group">
        <label for="form_link">链接：</label>
        <input id="form_link" class="form-control data-upload" name="link" type="text" placeholder="http://www.google.com/">
    </div>
    <div class="form-group">
        <input id="submit" type="submit" value="提交">
    </div>
</form>

<script src="/javascripts/jquery.js"></script>
<script>
$(function() {
    var $form = $('#form');
    var $uplaadElems = $('.data-upload');

    $('#submit').on('click', function(event) {
        event.preventDefault();
        var dataObj = {},
            dataBool = true;

        $uplaadElems.each(function(index, elem) {
            var $elem = $(elem),
                value = $elem.val();
            if (typeof value === 'string'){
                value = value.trimRight();
            }
            if (!value && !$elem.data('optional')) {
                return dataBool = false;
            }
            dataObj[$elem.attr('name')] = value;
        });
        if (!dataBool) {
            return console.log('请填写完整');
        }
        console.log(dataObj);
        $.ajax({
            url: '/admin/links',
            type: 'POST',
            dataType: 'json',
            data: dataObj
        })
        .done(function(data) {
            if (!data.state) {
                return alert('添加失败，表单填写或许有误');
            }
            alert('添加成功');
            // window.location.reload();
        });

    });
});
</script>
